.projectCard {
  width: 70%;
  background-color: #303030fb;
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.3s ease;
  margin: 1rem auto;
  z-index: 9;
}

.projectCard:hover {
  transform: translateY(-4px);
}

.projectCard__title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

.projectCard__desc {
  color: #fff;
  line-height: 1.6;
}

.projectCard__tech {
  color: #fff;
  display: flex;
  justify-content: center;
}

.projectCard__tech p,
.projectCard__tech ul {
  margin: 0;
}

.projectCard__techList {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.projectCard__imgWrapper {
  display: flex;
  gap: 2rem;
  margin: 1.5rem 0;
}

.projectCard__imgColumn {
  flex: 1;
}

.projectCard__imgColumn p {
  color: #ec4068;
  font-weight: 500;
  margin-bottom: 0;
}

.projectCard__imgGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.projectCard__imgThumb {
  margin-bottom: 0.5rem;
  object-fit: cover;
  border: 2px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}

.projectCard__link {
  display: inline-block;
  color: #b28e00;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: border 0.3s;
}

.projectCard__link:hover {
  border-color: #b28e00;
}

@media (max-width: 1024px) {
  .projectCard__tech {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .projectCard__techList {
    flex-wrap: wrap;
  }
}

/* Mobile Version */
@media (max-width: 425px) {
  .projectCard {
    width: 90%;
    padding: 1.3rem;
  }

  .projectCard__title {
    font-size: 1.3rem;
  }

  .projectCard__desc {
    font-size: 0.9rem;
  }

  .projectCard__tech {
    justify-content: flex-start;
  }

  .projectCard__techList {
    padding-left: 1.3rem;
    gap: 1.5rem;
  }

  .projectCard__imgGrid {
    justify-content: center;
  }

  .projectCard__imgThumb {
    margin-bottom: 0;
  }

  .projectCard__link {
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .projectCard__title {
    font-size: 1.2rem;
  }

  .projectCard__desc {
    font-size: 0.8rem;
  }
}
