.hero {
  height: 70vh;
  padding-top: 80px;
}

.hero__content {
  width: 60%;
  height: 100%;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-spacing: 4px;
  color: #ec4068;
}

.hero__content h2 {
  margin: 1rem 0;
  font-size: 3.5rem;
  background-color: #141b240c;
  transform: translateX(-15px);
  transition: all 0.3s;
  display: inline-block;
}

.hero__content:hover h2 {
  transform: translateX(-50px);
}

.hero__content p {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.4rem 0;
  background-color: #141b240c;
  transform: translateX(-15px);
  transition: all 0.3s;
}

.hero__content:hover p {
  transform: translateX(-50px);
}

@media (max-width: 1024px) {
  .hero__content h2 {
    font-size: 3.2rem;
  }

  .hero__content p {
    font-size: 1.5rem;
  }
}

/* Table version */
@media (max-width: 768px) {
  .hero__content {
    width: 90%;
    margin-left: 40px;
  }

  .hero__content p {
    font-size: 1.3rem;
    transform: translateX(0);
  }

  .hero__content h2 {
    transform: translateX(0);
  }

  .hero__content:hover h2 {
    transform: translateX(0);
  }

  .hero__content:hover p {
    transform: translateX(0);
  }
}

/* Mobile version */
@media (max-width: 425px) {
  .hero__content {
    margin-left: 20px;
  }

  .hero__content h2 {
    font-size: 2.5rem;
  }

  .hero__content p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .hero__content h2 {
    font-size: 2.2rem;
  }

  .hero__content p {
    font-size: 0.9rem;
  }
}
