.home {
  min-height: 100dvh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/photo-1619410283995-43d9134e7656.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__cardContainer {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  backdrop-filter: blur(7px);
  color: #ec4068;
}

.home__card {
  padding: 2rem 1.5rem;
  flex: 1;
}

.home__card:not(:last-child) {
  border-right: 1px solid #0a0e1393;
}

.home__cardTitle {
  margin: 0.8rem 0;
  font-size: 2rem;
}

.home__cardText {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.home__cardButton {
  background-color: transparent;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #b28e00;
  color: #b28e00;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home__cardButton:hover {
  background-color: #7e690f;
  color: white;
}

/* Pages style */
.page {
  min-height: 100vh;
  padding: 4rem 2rem;
  font-family: "Inter", sans-serif;
  position: relative;
  background: #0b0c0e;
}

.page__content {
  max-width: 70%;
  margin: 0 auto 4rem;
  text-align: center;
  z-index: 9;
}

.page__title {
  color: #ec4068;
}

.page__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #aaa;
  position: relative;
  z-index: 9;
}

/* Background boxes */
.page__box_one {
  width: 20vw;
  height: 20vw;
  max-width: 140px;
  max-height: 140px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(70deg);
  left: 7%;
  z-index: 1;
}

.page__box_two {
  height: 270px;
  width: 270px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(45deg);
  right: 10%;
  bottom: 10%;
  z-index: 1;
}

.page__box_three {
  width: 40vw;
  height: 40vw;
  max-width: 400px;
  max-height: 400px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(20deg);
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

.page__box_four {
  height: 400px;
  width: 400px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(50deg);
  right: 10%;
  top: 30%;
  z-index: 1;
}

/* Projects Page */
.projects__content {
  max-width: 90%;
  margin: 0 auto 4rem;
  text-align: center;
  z-index: 9;
}

.projects__subtitle {
  color: #aaa;
  margin-bottom: 0.8rem;
}

.projects__grid {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(1fr);
}

/* Contact Page */
.contact__socials {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact__socials svg {
  width: 20px;
}

.contact__socials a {
  display: flex;
  gap: 0.7rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact__socials a:hover {
  text-decoration: underline;
  color: #555;
}

@media (max-width: 1024px) {
  .home__cardText {
    font-size: 1rem;
  }

  .contact__socials {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* Tablet version */
@media (max-width: 768px) {
  .home__cardContainer {
    width: 100%;
    flex-direction: column;
  }

  .home__card {
    padding: 1rem 1.5rem;
  }

  .contact__socials {
    flex-direction: column;
    gap: 1.5rem;
  }

  .page__box_one,
  .page__box_two,
  .page__box_three,
  .page__box_four {
    display: none;
  }
}

/* Mobile version */
@media (max-width: 425px) {
  .page {
    padding: 4rem 0;
  }

  .page__content {
    max-width: 90%;
  }

  .page__paragraph {
    font-size: 1rem;
  }
}
