/* Homepage style */
.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/photo-1619410283995-43d9134e7656.avif");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home__overviewCards {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  backdrop-filter: blur(7px);
  color: #ec4068;
}

.home__card {
  padding: 2rem 1.5rem;
  flex: 1;
  line-height: 1.5;
}

.home__card:not(:last-child) {
  border-right: 1px solid #0a0e1393;
}

.home__cardTitle {
  margin: 0.8rem 0;
  font-size: 2rem;
}

.home__cardText {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.home__cardButton {
  background-color: transparent;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #b28e00;
  color: #b28e00;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.home__cardButton:hover {
  background-color: #7e690f;
  color: white;
}

/* Pages style */
.page {
  min-height: 100vh;
  padding: 4rem 2rem;
  font-family: "Inter", sans-serif;
  position: relative;
  background: #0b0c0e;
}

.page__content {
  max-width: 70%;
  margin: 0 auto 4rem;
  text-align: center;
  z-index: 9;
}

.page__title {
  color: #ec4068;
}

.page__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: #aaa;
}

/* Background boxes */
.page__box_one {
  height: 140px;
  width: 140px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(70deg);
  left: 7%;
  z-index: 1;
}

.page__box_two {
  height: 270px;
  width: 270px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(45deg);
  right: 10%;
  bottom: 10%;
  z-index: 1;
}

.page__box_three {
  height: 400px;
  width: 400px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(20deg);
  left: 10%;
  bottom: 10%;
  z-index: 1;
}

.page__box_four {
  height: 400px;
  width: 400px;
  border: 3px solid #ec4068;
  position: absolute;
  transform: rotate(50deg);
  right: 10%;
  top: 30%;
  z-index: 1;
}

/* Projects Page */
.projects__content {
  max-width: 90%;
  margin: 0 auto 4rem;
  text-align: center;
  z-index: 9;
}

.projects__subtitle {
  color: #aaa;
  margin-bottom: 0.8rem;
}

.projects__grid {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(1fr);
}

/* Contact Page */
.contactContent {
  max-width: 70%;
  margin: 0 auto 4rem;
  text-align: center;
  z-index: 9;
}

.contactSocials {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contactSocials svg {
  width: 20px;
}

.contactSocials a {
  display: flex;
  gap: 0.7rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contactSocials a:hover {
  text-decoration: underline;
  color: #555;
}
